#centralizado{
    margin-top: 150px;
    margin-left: 0px;
}

#botao{
    background-color: black;
    color: white;
}

#masculino{
    color: green;
}

#feminino{
    color: palevioletred;
}

#titulo{
    margin-left: 25px;
}